## Control Flow

In [1]:
#if else condition
def num(x):
    if x<5:
        print('your number is smaller')
    else:
        print('your number is larger')

In [5]:
num(5)

your number is larger

In [6]:
#for is to repeat/iterate command on defined quantity
for i in range(5):
    print('testing python')

testing python
testing python
testing python
testing python
testing python

In [9]:
for i in range(2,12,2):
    print('hello python',i)

hello python 2
hello python 4
hello python 6
hello python 8
hello python 10

In [10]:
#list comprehension
temp = [24,25,27,28,30,34,29,26,25,21,22,31,32]
[i for i in temp if i<27]

[24, 25, 26, 25, 21, 22]

In [13]:
#while is to repeat command until it reach wanted value
x=2
while x<20:
    x = int(input('Enter a value: '))
    print('your value is lesser')

Enter a value: 3
your value is lesser
Enter a value: 4
your value is lesser
Enter a value: 5
your value is lesser
Enter a value: 6
your value is lesser
Enter a value: 7
your value is lesser
Enter a value: 8
your value is lesser
Enter a value: 9
your value is lesser
Enter a value: 0
your value is lesser
Enter a value: 9
your value is lesser
Enter a value: 0
your value is lesser
Enter a value: 9
your value is lesser
Enter a value: 8
your value is lesser
Enter a value: 7
your value is lesser
Enter a value: 6
your value is lesser
Enter a value: 5
your value is lesser
Enter a value: 4
your value is lesser
Enter a value: 3
your value is lesser
Enter a value: 2
your value is lesser
Enter a value: 1
your value is lesser
Enter a value: 2
your value is lesser
Enter a value: 21
your value is lesser

## Function

In [14]:
z = [2,4,6,7,8,1,2,6]
print(max(z))
print(min(z))
print(sum(z))
print(sorted(z))

8
1
36
[1, 2, 2, 4, 6, 6, 7, 8]

In [21]:
def func(x,y):
    z=x+y
    k=x*y
    return z,k

In [22]:
func(3,4)

(7, 12)

In [23]:
#Lambda function = anonymous function - it doesn't exist

a = lambda x:x+5

In [24]:
a(3)

8

In [32]:
import pandas as pd
df = pd.read_csv(r'D:\Github\Datasets\dob_2.csv')
df.head()

                            name         dob
0          Achmad Rifaie de Jong   11/9/1989
1  Aditya Perdana Suherman Putra  22/12/1986
2          Aditya Satrio Prabowo   8/19/1988
3                Aditya Septiana   9/25/1987
4     Aditya Yudistira Octaputra   18/8/1988

In [33]:
df['dob'] = pd.to_datetime(df['dob'])

In [29]:
import datetime as dt
def to_dob(date):
    today = dt.datetime.now()
    days = (today-date).days
    age = round(days/365)
    return age

In [30]:
df['age'] = df['dob'].transform(to_dob)
df.head()

                            name        dob  age
0          Achmad Rifaie de Jong 1989-11-09   31
1  Aditya Perdana Suherman Putra 1986-12-22   34
2          Aditya Satrio Prabowo 1988-08-19   32
3                Aditya Septiana 1987-09-25   33
4     Aditya Yudistira Octaputra 1988-08-18   32

In [35]:
today = dt.datetime.now()
df['age'] = df['dob'].transform(lambda x: round(((today-x).days)/365))

In [36]:
df.head()

                            name        dob  age
0          Achmad Rifaie de Jong 1989-11-09   31
1  Aditya Perdana Suherman Putra 1986-12-22   34
2          Aditya Satrio Prabowo 1988-08-19   32
3                Aditya Septiana 1987-09-25   33
4     Aditya Yudistira Octaputra 1988-08-18   32

Using user-defined function may get slowing the process because each of rows will call function from memory, compared to lambda function. The advantage of user-defined function is that it can contains complex operations.

## Object Oriented Programming

In [47]:
class employee:
    Name = "Jack Ma"
    Age = "24"
    Salary = 0
    Status = True
    def resignation(x):
        x.Status = False

In [48]:
e1 = employee()

In [49]:
e1.Name

'Jack Ma'

In [50]:
e1.Age

'24'

In [51]:
e1.Salary = 46712

In [52]:
e1.Salary

46712

In [53]:
e2 = employee()
e2.Name

'Jack Ma'

In [54]:
e2.resignation()

In [55]:
e2.Status

False

## Inheritance

In [56]:
class A:
    x = 5
    y = 6
    def func(self):
        print('this is class A')
        
    def func2(self,a,b):
        c = a+b
        return c

In [67]:
class B(A):
    y = 10
    z = 12
    def funct(self):
        print('welcome to class B')

In [68]:
m = A()
n = B()

In [62]:
m.func2(2,3)

5

In [71]:
n.func()

this is class A

## Modul and packages

- numpy, scipy = mathematical computation
- pandas, dask = data import/export, data engineering, data cleaning, data manipulation, data visualization, statistical analysis
- seaborn, matplotlib = data visualization
- statsmodels = advance statistics
- sklearn (scikit-learn) = supervised and unsupervised ML algorithms, feature engineering
- tensorflow, keras, pytorch = deep learning, computer vision and NLP
- openCV, PIL = computer vision and  image processing
*********************
- NLTK, spacy, gensim = natural language processing
- textblob = text processing
- librosa = audio processing
********************
- pyspark = apache spark
- flask, django = web app development

ORDER: package, class, function